extends layout.pug 
block content 

    h2 Levels 

    .directories
        each directory in directories
            p
                a(href=`${clientPath}/${directory}`) #{directory}

    if lessons
        h2 Lessons

        .mediaPlayer

            p#currentlyPlaying No file loaded

            audio#audioPlayer(controls)
                source#audioFile(src="", type="")

            video#videoPlayer
                source#videoFile(src="", type="")

        .lessons
       
            table
                tr
                    th #
                    th Lesson
                    th PDF
                    th Dialogue
                    th Review
                    th Other files

                //- create a heading showing the lesson abbreviation (first part of filename)
                //- there should only be one unless there are misplaced, uncategorized badly-named files
                each lessonData, lessonAbbreviation in lessons

                    //- go through the array of files pertaining to each lesson
                    each lessonContents, lessonNumber in lessonData

                        //- skip nonexistant lesson at index 0
                        if lessonNumber > 0
                            tr
                                td= lessonNumber

                                //- output each file for the lesson
                                if lessonContents

                                    if lessonContents["lesson_audio"]
                                        td
                                            img(src="/media.png", title=`${lessonContents["lesson_audio"]}`, id=`${lessonContents["lesson_audio"]}`)
                                    else
                                        td N/A

                                    if lessonContents["lesson_notes"]
                                        td
                                            a(href=`${clientPath}/${lessonContents["lesson_notes"]}`, target="_blank")
                                                img(src="/pdf.png", title=`${lessonContents["lesson_notes"]}`, id=`${lessonContents["lesson_notes"]}`)
                                    else
                                        td N/A

                                    if lessonContents["dialog"]
                                        td
                                            img(src="/media.png", title=`${lessonContents["dialog"]}`, id=`${lessonContents["dialog"]}`)
                                    else
                                        td N/A

                                    if lessonContents["review"]
                                        td
                                            img(src="/media.png", title=`${lessonContents["review"]}`, id=`${lessonContents["review"]}`)
                                    else
                                        td N/A
                                    
                                    if lessonContents["misc"]
                                        each media in lessonContents["misc"]
                                            td
                                                img(src="/media.png", title=`${lessonContents["misc"]}`, id=`${lessonContents["misc"]}`)

    h2 Files
    .files
        each file in files
            div= file
